
<div style="height: 350px" class="text-center">
    <p class="text-center">Your cart is currently empty.</p>
    <a href="/?goto=women-men-container" style="color: white; background-color: #808080; border: none;" class="btn btn-primary no-radius btn-dark mt-5 mb-5">Continue Shopping</a>
</div>
