@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

@*<h1 class="text-center pt-5 pb-3" style="font-size: 124pt"><u>O</u>ops!</h1>
<h2 class="text-center">404 - PAGE NOT FOUND</h2>*@
<div class="container">
    <a href="/"><img src="~/Images/Website/Error/error-404.png" alt="Error 404" width="100%"/></a>
</div>



