
/* Import google fonts */
@import 'https://fonts.googleapis.com/css?family=Montserrat:400,700|Raleway:300,400';


/* Override styles from Custom Form box (container of all tabs) */
.form-box {
    left: 50%;
    transform: translateX(-50%);
    position: relative;
    background: white;
    padding: 50px;
    padding-bottom: 80px;
    width: 70%;
    height: auto !important;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    border-radius: 5px;
}

/* Hide the default radio buttons */
.form-box input[name="tab-control"] {
    display: none;
}

/* Tab fonts and font-style */
.form-box .content section h2, .form-box ul li label {
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 18px;
    color: black;
}

.form-box ul {
    list-style-type: none;
    padding-left: 0;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
}

/* Center the tab labels */
.form-box ul li {
    box-sizing: border-box;
    flex: 1;
    width: 25%;
    padding: 0 10px;
    text-align: center;
}

.form-box ul li label {
    transition: all 0.3s ease-in-out;
    color: #929daf;
    padding: 5px auto;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    white-space: nowrap;
    -webkit-touch-callout: none;
}

.form-box ul li label br {
    display: none;
}

.form-box ul li label svg {
    fill: #929daf;
    height: 1.2em;
    vertical-align: bottom;
    margin-right: 0.2em;
    transition: all 0.2s ease-in-out;
}

.form-box ul li label:hover, .form-box ul li label:focus, .form-box ul li label:active {
    outline: 0;
    color: #bec5cf;
}

.form-box ul li label:hover svg, .form-box ul li label:focus svg, .form-box ul li label:active svg {
    fill: #bec5cf;
}

.form-box .slider {
    position: relative;
    width: 50%;
    transition: all 0.33s cubic-bezier(0.38, 0.8, 0.32, 1.07);
}

.form-box .slider .indicator {
    position: relative;
    width: 50px;
    max-width: 100%;
    margin: 0 auto;
    height: 4px;
    background: black;
    border-radius: 1px;
}

.form-box .content {
    margin-top: 30px;
}

.form-box .content section {
    display: none;
    animation-name: content;
    animation-direction: normal;
    animation-duration: 0.3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    line-height: 1.4;
}

.form-box .content section h2 {
    color: black;
    display: none;
}

.form-box .content section h2::after {
    content: "";
    position: relative;
    display: block;
    width: 30px;
    height: 3px;
    background: black;
    margin-top: 5px;
    left: 1px;
}

.form-box input[name="tab-control"]:nth-of-type(1):checked ~ ul > li:nth-child(1) > label {
    cursor: default;
    color: black;
}

.form-box input[name="tab-control"]:nth-of-type(1):checked ~ ul > li:nth-child(1) > label svg {
    fill: black;
}

@media (max-width: 600px) {
    .form-box input[name="tab-control"]:nth-of-type(1):checked ~ ul > li:nth-child(1) > label {
        background: rgba(0, 0, 0, 0.08);
    }
}

.form-box input[name="tab-control"]:nth-of-type(1):checked ~ .slider {
    transform: translateX(0%);
}

.form-box input[name="tab-control"]:nth-of-type(1):checked ~ .content > section:nth-child(1) {
    display: block;
}

.form-box input[name="tab-control"]:nth-of-type(2):checked ~ ul > li:nth-child(2) > label {
    cursor: default;
    color: black;
}

.form-box input[name="tab-control"]:nth-of-type(2):checked ~ ul > li:nth-child(2) > label svg {
    fill: black;
}

@media (max-width: 600px) {
    .form-box input[name="tab-control"]:nth-of-type(2):checked ~ ul > li:nth-child(2) > label {
        background: rgba(0, 0, 0, 0.08);
    }
}

.form-box input[name="tab-control"]:nth-of-type(2):checked ~ .slider {
    transform: translateX(100%);
}

.form-box input[name="tab-control"]:nth-of-type(2):checked ~ .content > section:nth-child(2) {
    display: block;
}


@keyframes content {
    from {
        opacity: 0;
        transform: translateY(5%);
    }

    to {
        opacity: 1;
        transform: translateY(0%);
    }
}

@media (max-width: 1000px) {
    .form-box ul li label {
        white-space: initial;
    }

    .form-box ul li label br {
        display: initial;
    }

    .form-box ul li label svg {
        height: 1.5em;
    }
}

@media (max-width: 600px) {
    .form-box ul li label {
        padding: 5px;
        border-radius: 5px;
    }

    .form-box ul li label span {
        display: none;
    }

    .form-box .slider {
        display: none;
    }

    .form-box .content {
        margin-top: 20px;
    }

    .form-box .content section h2 {
        display: block;
    }
}


/* Give spacing to each form group */
.form-group {
    padding-top: 5px;
    padding-bottom: 5px;
}

/* Don't show the alert by default. We show it with js. */
.alert {
    display: none;
    margin-top: 0.25rem !important;
}

