

.tab-block {
    font-family: 'Open Sans', sans-serif;
    /*width: 800px;*/
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
    padding-bottom: 50px;
}



.tab-mnu {
    display: block;
    list-style: none;
    padding-left: 0px;
    margin-bottom: 0px;
}

.tab-mnu:after {
    content: '';
    display: table;
    clear: both;
}

.tab-mnu .active {
    background-color: #fff;
    color: black;
    cursor: default;
}


.tab-mnu li {
    box-sizing: border-box;
    float: left;
    background-color: #b2bbc0;
    color: white;
    width: 130px;
    text-align: center;
    padding-top: 13px;
    padding-bottom: 13px;
    cursor: pointer;
}


.tab-mnu li:hover:not(.active) {
    background-color: #b2bbc0;
}


.tab-cont {
    box-sizing: border-box;
    border-top: 1px solid white;
    background-color: white;
    color: #596165;
}

.tab-pane {
    padding: 20px 25px;
}







