

@{
    ViewBag.Title = "About Us";
}


<h1 class="text-center pt-5 pb-5 section-title">About Us</h1>

<div class="container pb-5 slideanim">

    <p class="about-text pb-3">
        <strong>Auralta Clothing</strong> is a Canadian Lifestyle <strong>Clothing</strong> Brand established in 2020 with one goal,
        to inspire others to <strong>Rise to Your Potential</strong>. Featuring High Quality clothing as well as spreading
        an important message & motivation to each other of reaching our full potential.
        
    </p>

    <p class="about-text">
        Create your <b>Lifestyle</b>, Follow the <b>Movement</b>, Rise <b>Up</b> & Take <b>ACTION</b>.
        
    </p>

    <p class="pb-3 about-text"><strong>Rise To Your Potential</strong> with <strong>Auralta Clothing</strong>.</p>

    

    <img src="~/Images/Website/AboutUs/main-image.jpg" alt="Alternate Text" style="width: 100%" />

</div>


@section Scripts{
    @Styles.Render("~/Content/AboutUs/AboutUs.css")
}
