
@{
    ViewBag.Title = "PaymentSuccess";
}

<h1 class="text-center pt-5 pb-0 section-title">Thank you</h1>
<h1 class="text-center pt-0 pb-5 section-title">for your order</h1>


<div class="container text-center" style="height: 500px">
    <a href="/" class="btn btn-dark">Return to homepage</a>
</div>

